@import url('./reset.css');

:root {
    --color-bg: #253334;
    --color-fg: #F7F3F0;
    --color-primary: #FFFFFF;
    --color-primary-secondary: #FFFFFF80;
    --color-primary-inverted: #000000;
    --color-card: #FFFFFFE5;
    --font: "Alegreya", serif;
    --font-sans: "Alegreya Sans", sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-primary);
    font-family: var(--font);
}